@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

font-family: 'Alata', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

font-family: 'Roboto Condensed', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

font-family: 'Alegreya Sans SC', sans-serif;
